h3 { 
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}
.container1 {
    margin-right: 100px;
    border: solid 2px black;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}
.container2 {
    border: solid 2px black;
    padding: 20px;
    border-radius: 5px;
}